@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Raleway';
    font-weight: bold;
}


body {
    display: grid;

}

body > header{
    padding: 20px 32px;
    grid-auto-rows: 100px;

}

.searchRestaurant{
    display: flex;
    flex-direction:column;
    align-items: center;

}

/*
header a {
    background-color: #bf0606;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}
*/

#restaurants{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

#title_rest{
    margin: 0;
    
}

section.rest_items{
    float: left;
    margin: 2px;
}

.rest_items a > img{
    float: left;
    border-radius: 50%;
    border: 0.1px solid #717171;
    width: 150px;
    height: 150px;
    margin: 1em;
}


.caption{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}


.caption a:link{
    color: gray;
    text-decoration: none;
}

.caption a:visited{
    color:gray; 
}

.rest_items p{
    font-size: 13px;
    margin: 0;
}


hr { 
    display: block; 
    height: 0;
    border: 0; 
    border-top: 1px solid #ccc;
    margin:  0; 
    padding: 0; 
}

.login_register{
    float: right;
}

.register{
    margin-left: 1em;
}


.mainsearch {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}


.dish-name{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 auto 0 0;
}


.logo > a{
    padding: 0;
    background-color: white;
}

.hide{
    display: none;
}

input[type="number"].hide{
  display: none;
}

#search-restaurants{
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
  padding: 1em;
  background-color: #ddd;
  border-radius: 10px;
}

input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }



header.restBanner img{
    display: inline-block;
    width: 100%;
    height: 300px;

}

main{
    padding: 20px 32px;
}

.main_rest{
    padding-bottom: 48px;
}

.rest_review{
    color: #e7a74e;
    font-size: .75rem;
    font-weight: 700;
}

.btn-searchbar {
  display: block; 
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  border-radius: 0 var(--rad) var(--rad) 0;
}



.lb-searchbar {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.rest_design{
    display: flex;
    margin: 1em 0;
    align-items: center;
}

#reviewRest{
    padding-left: 1em;
    color: #e7a74e;
}

#design-right{
    display: flex;
    align-items: center;
    float: left;
}
#design-right > h1{
    text-align: center;
    padding-left: 1em;
    font-size: 2.25em;



}

#design-right > img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 0.1px solid #717171;
}


#cart table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }
  
  #cart th, #cart td {
    padding: 1em;
    text-align: center;
  }
  
  #cart tfoot th:last-child::after{
    content: "€";
  }
  
  #cart tr {
    border: 5px solid white;
  }
  
  #cart thead tr, #cart tfoot tr  {
    background-color: #edf6f9;
  }


/*login part*/

  #login-btn {
    background-color: #bf0606;
    border-radius: 4px; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
  }


  input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="file"]{
    width: 75%;
    padding: 0 0 0 10px;
    margin: 0 0 1em 0 ;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input, select {
    display: block; 
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

#login-phrase {
    font-weight: 300;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
}

.container{
    background-color: #fff;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 10px;
    box-shadow: 0px 30px 50px 0px rgb(0 0 0 / 20%);
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

#create-account-wrap p a {
    color: #bf0606;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* register part */

#register-phrase{
    font-weight: 300;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
}

#register-btn {
    background-color: #bf0606;
    border-radius: 4px; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.select-form{
    width: 75%;
    padding: 0 0 0 10px;
    margin: 0 0 1em 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

/* main page part */

#toggle1 {
display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
}

#toggle1:checked ~ .menu1 {
    height: 300px;
}

.menu1 {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu1 div a:first-child{
    margin-top: 40px;
}

.menu1 div a:last-child {
    margin-bottom: 40px;
}

.hamburger1 {
    display: inline-block;
    margin-right: 1em;
}

.hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

.title{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #1a1a1a;
    margin: 0;
    padding: 20px 0;
    border-top: 2px solid #f2f2f2;
}

#title-main-page{
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    margin: 50px 0 0 0;
}

#second-title-main-page{
    max-width: none;
    margin-bottom: 40px;
    font-size: 1rem;
    color: #717171;
}
    

::selection {
    color: #fff;
    background: #ea1d2c;
}

#search-restaurant-by-category{
    width: 40%;
    padding: 0 10px;
    margin: 0 0 2em 0 ;
    color: #3e4046;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    position: relative;
    display: inline-block;
    background: none;
}

.menu1 div{
    margin: 0;
    padding: 1em;
    /* color: white; */
    background-color: #222;
}

.menu1:first-child{
    margin-top: 1em;
}

.user-options > a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.login_register > a{
    background-color: #bf0606;
    border-radius: 4px; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-done > a {
    background-color: #bf0606;
    border-radius: 4px; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#logo-no-login{
    height: 30px;
}

/* restaurant part */

input[type=file]::file-selector-button {
    background-color: #bf0606;
    border-radius: 4px; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#user-container{
    background-color: #fff;
    margin: 30px auto;
    padding: 20px 0 0 0;
    border-radius: 10px;
    position: relative;
}

.user-data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.user-data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

#profile-link{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #55468c;
    color: #fff;
    padding: 10px 20px;
    margin: 2em 1em 0 0;
    text-shadow: rgb(0 0 0 / 50%) 0px 1px;
    font-weight: bold;
    text-decoration: none;
}


/* restaurant page */

#favorite-btn{
    border: none;
    margin-left: 1em;
}

#add-dish-icon{
    margin-left: 1em;
    background-color: #74b3d3;
    border-radius: 50%;
}

#restaurant-tools{
   margin-left: auto;
}

#search-dishes{
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    margin-bottom: 1em;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
  }
  
  .clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
  }

  #rest-price-cifer{
      margin-left: 0.5em;
      font-size: 20px;
      color: #919aa3;
  }

  #search-dishes:hover, #search-dishes:focus {
    border: 1px solid #009688;
    background-color: white;
  }

  .RestaurantCategory{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
  }

  .RestaurantCategory > div {
      margin-left: 1em;
      display: inline-block;
  }

  .restaurant-container{
      display: flex;
      flex-wrap: wrap;

  }

  input[type="number"]{
    width: 60%;
    padding: 0 0 0 10px;
    margin: 0 0 1em 0 ;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
    height: 20px;
}

#dish-price::after{
    content: "€";
}

.DishIngredients{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

#category-title{
    width: 100%;

}



/** footer */

.footer-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}


@media (max-width: 800px){
    #design-right > h1{
        font-size: 1.25em;    
    }

    #design-right > img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

#order-btn{
    background-color: #bf0606;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#order-btn-container{
    text-align: center;
}

/* order customer page */

.order-customer-title{
  background-color: lawngreen;
  border-radius: 4px;
  padding: 15px 32px;
  margin: 20px;
}

.user-order{
  text-align: center;
  background-color: #fff;
  margin: 30px auto;
  margin-top: 0;
  padding: 0;
  border-radius: 10px;
  width: 50%;
}

/* order owner page */

.order-organization{
  text-align: center;
}

#delete-btn{
  border: none;
}