@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body {
    display: grid;

}


body > header{
    padding: 20px 32px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;

}

header a {
    float: left;
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}




header a .logo {
    font-size: 25px;
    font-weight: bold;
    background-color: #ddd;
}

#restaurants{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

section.rest_items{
    float: left;
    margin: 2px;
}

.rest_items > img{
    padding: 1em;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.caption{
    display: block;
    text-align: center;
    text-decoration: none;
    size: 1em;
}


.caption a:link{
    color: gray;
    text-decoration: none;
}

.caption a:visited{
    color:gray; 
}

hr { 
    display: block; 
    height: 0;
    border: 0; 
    border-top: 1px solid #ccc;
    margin:  0; 
    padding: 0; 
}

.login_register{
    float: right;
}

.register{
    margin-left: 1em;
}