@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body {
    display: grid;

}

body > header{
    padding: 20px 32px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;

}

.searchRestaurant{
    display: inline-block;
    width: 100%;
}

.searchRestaurant p{
    font-size: 50px;
    text-align: center;
}

header a {
    float: left;
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}




header a .logo {
    font-size: 25px;
    font-weight: bold;
    background-color: #ddd;
}

#restaurants{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

section.rest_items{
    float: left;
    margin: 2px;
}

.rest_items > img{
    padding: 1em;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.caption{
    display: block;
    text-align: center;
    text-decoration: none;
    size: 1em;
}


.caption a:link{
    color: gray;
    text-decoration: none;
}

.caption a:visited{
    color:gray; 
}

hr { 
    display: block; 
    height: 0;
    border: 0; 
    border-top: 1px solid #ccc;
    margin:  0; 
    padding: 0; 
}

.login_register{
    float: right;
}

.register{
    margin-left: 1em;
}


:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}


form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }


#search{
    padding: 1em;
    background-color: #ddd;
}

.searchRestaurant form #search{
    display: flex;
    justify-content: center;
}
button {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));

}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

